<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Modern Header</title>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>

<style>
/* Dropdown */
.group:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
  .nav-link.active {
    color: #170b7d;
        font-weight: bold;
        border-bottom: 2px solid #7ee8f0;
        padding-bottom: 4px;
  }
</style>

</head>

<body class="bg-gray-100">

<!-- HEADER -->
<header class="fixed w-full z-50 bg-white/70 backdrop-blur-xl shadow-sm">

<div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

<!-- LOGO -->
<div class="flex items-center gap-3">
          <img src="images/logo-venk.png" class="h-10 w-48 " />
</div>

<!-- CENTER NAV -->
<nav class="hidden lg:flex gap-8 text-gray-700 font-medium">

<a href="index.html" class="nav-link hover:text-blue-600">Home</a>
<a href="about.html" class="nav-link hover:text-blue-600">About</a>
<a href="academic.html" class="nav-link hover:text-blue-600">Academics</a>
<a href="admission.html" class="nav-link hover:text-blue-600">Admission</a>
<a href="mandatory-disclosure.html" class="nav-link hover:text-blue-600">Mandatory Disclosure</a>
<a href="gallery.html" class="nav-link hover:text-blue-600">Gallery</a>
<a href="contact.html" class="nav-link hover:text-blue-600">Contact</a>

</nav>

<!-- RIGHT SIDE -->
<div class="hidden lg:flex items-center gap-4">

<!-- <button class="text-gray-600 hover:text-blue-600">
  <i class="fa fa-search"></i>
</button>

<a href="#"
class="border border-blue-600 text-blue-600 px-4 py-2 rounded-full hover:bg-blue-600 hover:text-white transition">
Login
</a> -->

<a href="#"
class="bg-gradient-to-r from-blue-600 to-purple-600 text-white px-5 py-2 rounded-full shadow hover:scale-105 transition">
Apply Now
</a>

</div>

<!-- MOBILE MENU BUTTON -->
<button onclick="openMenu()" class="lg:hidden text-2xl">
<i class="fa fa-bars"></i>
</button>

</div>

<!-- MOBILE MENU -->
<div id="mobileMenu"
class="fixed top-0 right-0 w-72 h-100 bg-gray-300 shadow-lg p-6 transform translate-x-full transition duration-300 z-50">

<div class="flex justify-between items-center mb-6">
<!-- <h2 class="font-bold text-lg">Menu</h2> -->
<span onclick="closeMenu()" class="text-2xl cursor-pointer">&times;</span>
</div>

<nav class="flex flex-col gap-5">

<a href="index.html">Home</a>
<a href="about.html">About</a>
<a href="academic.html">Academics</a>
<a href="admission.html">Admission</a>
<a href="mandatory-disclosure.html">Mandatory Disclosure</a>
<a href="gallery.html">Gallery</a>
<a href="contact.html">Contact</a>

<a href="#"
class="bg-gradient-to-r from-blue-600 to-purple-600 text-white px-4 py-2 rounded-lg text-center mt-4">
Apply Now
</a>

</nav>

</div>

<!-- OVERLAY -->
<div id="overlay"
class="fixed inset-0 bg-black/40 hidden z-40"
onclick="closeMenu()"></div>


</body>
</html>
